@model Cart

@if (Model == null)
{
    <h3>Корзина пустая</h3>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Цена (руб)</th>
                        <th>Количество</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Cost</td>
                        <td>@item.Amount</td>
                        <td>
                            <a href="/cart/add?idProduct=@item.Product.Id" class="btn btn-primary">+</a>
                            <a href="/cart/decreaseProduct?idProduct=@item.Product.Id" class="btn btn-primary">-</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
          <div class="col text-right">
              <h3>ИТОГО - @Model.TotalCost руб.</h3>
          </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="/product/index" class="btn btn-primary">Продолжить покупки</a>
            <a href="/cart/delete" class="btn btn-danger">Очистить корзину</a>
            <a href="#" class="btn btn-success">Оформить заказ</a>

        </div>
    </div>
}