<div class="row">
    <div class="col-3">
        <div class="row">
            <a href="/admin/orders">Заказы</a>
        </div>
        <div class="row">
            <a href="/admin/users">Пользователи</a>
        </div>
        <div class="row">
            Роли
        </div>
        <div class="row">
            <a href="/admin/products">Продукты</a>
        </div>
    </div>
    <div class="col-9">
        <h3>Список ролей</h3>
    </div>
</div>